@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Venta de productos</h1>
    <p class="lead">Seleccione a dónde desea ir:</p>
    <a class="btn btn-default" href="/products">Ver productos</a>
</div>